:root {
  --font-ss: "Roboto", sans-serif;
  --font-s: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-ss: "Roboto", sans-serif;
    --font-s: "Playfair Display", serif;
    --font-mono: "JetBrains Mono", monospace;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 1.1rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0rem 1rem;
  max-width: 45rem;
  margin: 0 auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ss);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--font-mono);
}

code, pre, .mono {
  font-family: var(--font-mono);
  font-weight: 450;
}

b, strong { font-weight: 700; }
i, em { font-style: italic; }

a {
  font-family: var(--font-mono);
  color: inherit;
  text-decoration: underline solid var(--foreground);
}

nav > a {
  margin-left: 1rem;
}

a:hover {
  background-color: var(--foreground);
  color: var(--background);
  text-decoration: none;
}

section {
  margin: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.about-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about-icon {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin: 0 auto 0 0 ;
}

.about-content {
  flex: 1;
  min-width: 20rem;
}
